backup/volume_dump/
backup/ssl_certs/
config/traefik/ssl/fullchain.crt
config/traefik/ssl/privkey.pem
backup/verniquet_digitalization/*
data/cantaloupdata/*
scripts/upload/__pycache__/*
scripts/upload/datasets/rumsey/records
*.lock
dist/
.env.secret

__pycache__