[submodule "webgl2-preview"]
	path = source/webgl2-preview
	url = https://github.com/soduco/webgl2-preview.git
[submodule "LodView"]
	path = source/LodView
	url = https://github.com/soduco/LodView.git
