backup/volume_dump/
backup/config/
config/traefik/ssl/*
config/traefik/ssl_old/
verniquet_digitalization/
data/cantaloupdata/*
scripts/upload/__pycache__/*
scripts/upload/datasets/rumsey/records
*.lock
dist/
.env.secret
__pycache__
.env
password_encryptor_dump.txt
config/ontop/input/catalog.properties
config/ontop_photographes/input/directory.properties
config/map_proxy/cache_data