[submodule "webgl2-preview"]
	path = source/webgl2-preview
	url = https://github.com/soduco/webgl2-preview.git
[submodule "LodView"]
	path = source/LodView
	url = https://github.com/soduco/LodView.git
[submodule "source/geonetwork-ui"]
	path = source/geonetwork-ui
	url = https://github.com/soduco/geonetwork-ui.git
[submodule "source/LodLive"]
	path = source/LodLive
	url = https://github.com/soduco/LodLive.git
