#Dataverse
dataverse/dataverse.war

dataverse/data/
dataverse/database-data/

#Ignoring IDE files
dataverse/.idea
dataverse/.idea/*

#Ignoring letsencrpt folders for SSL
dataverse/letsencrypt
dataverse/letsencrypt/*
